:root {
  --main-bg-color: #f4f0e9;
  --secondary-bg-color: #130e0a;
  --primary-font: Alpino Regular, sans-serif;
  --primary-font-medium: Alpino Medium, sans-serif;
  --primary-font-bold: Alpino Bold, sans-serif;
  --secondary-font: Hauora Regular, sans-serif;
}